@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css);
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.image-box {

  width: 80%;
  max-width: 80%;
  max-height: 200px;
}
.note {
    background: #5B88B7;
    position: absolute;
    width: 316px;
    height: 100%;
    opacity: 0;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
}

.note:hover {
    opacity: 0.85;
}

.note-content {

    position: absolute;
    width: 100%;
    height: 0px;
    font-size: 20px;
    text-align: center;
    margin-top: -12px;
    top: 50%;
    color: black;
}

.note .note-content p.workss {
  color: black;
  font-family: "Lora";
  text-align: center;
  font-size: 12px;
  margin-top: -85px;
  padding: 0 20px 0 20px;
}
.box {
  margin: 156px -75px -93px 38px;
}
html {
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	}
body {
    font-family: 'Montserrat', sans-serif;
    color: #23292D;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    margin-top: 0px;
    margin-bottom: 0px;

}

h1 {
    color: #2E282B;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
		font-size: 3em;
    font-style: normal;
    letter-spacing: 2px;
    text-align: center;
}
h2 {
  color: #2E282B;
  font-family: 'Lora';
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 20px;
}
.one {
  padding-left: 25px;
  margin: 0 auto;
  text-align: center;

}
.navbar-fixed-top {
    top: 0;
    border-width: 0;
}
.navbar-right {
	margin-right: 0px;
}
.navbar-left {
	display: block;
	margin-top:-10px;
	margin-left: 0;
}

.navbar-collapse, .navbar-fixed-top, .container {
    background: #fff;
    margin-top: 0;
    padding: 0px 0px;
    text-align: center;
    margin-bottom: 0;
}

.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 0;
}
.navbar-fixed-top, .container, .navbar-collapse, .navbar-default, .navbar-nav li {
		margin: 0px !important;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    display: inline-block;

}
.navbar-default .navbar-nav>li>a {
    color: #000;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #faa9a7;
    background-color: transparent;
}
/*
this is it
.box {
  text-align: center;
  margin: 156px -75px -93px 38px;
  max-height: 215px;
}
*/
/* this is it

.note {
    text-align: center;
    margin: 0 auto;
    background: #5B88B7;
    position: absolute;
    width: 70%;
    height: 100%;
    opacity: 0;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
}
.note:hover {
    opacity: 1;
}
.note .note-content {

    position: absolute;
    width: 80%;
    height: 0px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    color: white;
}

.note .note-content p.workss {
  color: black;
  font-family: "Lora";
  text-align: center;
  font-size: 12px;
  margin-top: -95px;
  padding: 10px 10px 0 20px;
}*/
/*.note {
    background: #5B88B7;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
}
.note .note-content {
    position: absolute;
    width: 100%;
    height: 0px;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    top: 50%;
    color: black;
}
.note .note-content p.workss {
    color: black;
    font-family: "Lora";
    text-align: center;
    font-size: 22px;
    margin-top: -8px;
    padding: 0 20px 0 20px;
}*/
